body {
  color: black;
  background-color: white;
  margin-left: 0;
  margin-top: 5em;
}
.lindent {
  margin-left: 5em;
}
.sending-results {
  font-weight: bold;
  font-size: medium;
}
div.bar-container {
  border: 1px solid;
  border-color: #9ea4b1;
  background-color: white;
}
div.bar {
  background-color: blue;
}
p.progress-text {
  padding-top: 0.5em;
  margin-top: 0;
  margin-bottom: 2em;
  font-style: italic;
  font-size: small;
}
p.practice-box {
  color: blue;
  height: 1.5em;
  padding-bottom: 1em;
  font-size: small;
  text-align: center;
}
span.retry {
  color: blue;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
span.retry:hover {
  text-decoration: underline;
}
span.retry:visited {
  color: blue;
}

.option label {
  margin: 10px;
  /* border: solid; */
  border-radius: 10px;
  padding: 10;
  background-color: rgb(225 225 225);
}

.option label:hover {
  background-color: rgb(206 207 207);
}

.PennController-clickingContainer .PennController-Button {
  width: 90px;
  padding: 5px;
  border: solid darkgray 1px;
  border-radius: 5px;
  cursor: default !important;
}

.PennController-clickingContainer .PennController-disabled {
  border: none;
}

.PennController-clickingContainer
  .PennController-Button:hover:not(.PennController-disabled) {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  cursor: pointer !important;
}

.PennController-enterContainer .PennController-TextInput {
  width: 90px;
  height: 1.5em;
}

.PennController-age-input {
  height: 1.5em;
}

.recall-form input {
  margin: 5px 5px;
  width: 90px;
}
